

.image-1-icon {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.05);
}
.frame-child {
  align-self: stretch;
  width: 70.938rem;
  position: relative;
  border-radius: 48px;
  background-color: #f3f3f3;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.29);
  display: none;
  max-width: 100%;
}
.login-to-your {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.account-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.625rem 0 1.688rem;
}
.image-2-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  object-fit: cover;
}
.continue-with-google,
.image-2-icon {
  position: relative;
}
.sign-in-google {
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem;
  gap: 0.813rem;
  white-space: nowrap;
  font-size: 14px;
}
.sign-in-google:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  
}
.or-sign-in {
  color: #000;
}
.or-sign-in-container {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #ddd;
}
.email,
.mailabccom {
  font-family: "Nunito Sans";
  font-size: 18px;
  position: relative;
  color: #000;
  text-align: left;
  display: inline-block;
}
.email {
  width: 3.5rem;
  font-weight: 600;
  box-sizing: border-box;
  padding-right: 1.25rem;
}
.mailabccom {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
  /* height: 1.188rem; */
  white-space: nowrap;
  padding: 0.600rem 0.625rem;
}
.email-parent,
.mailabccom-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.mailabccom-wrapper {
  border-radius: 5px;
  border: 1px solid #000;
  flex-direction: row;
  align-items: center;

}
.email-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.input,
.password {
  width: 100%;
  font-size: 20px;
  font-family: "Nunito Sans";
  position: relative;
  color: #000;
  text-align: left;
  display: inline-block;
}
.password {
  width:100%;
  font-size:18px;
  font-weight: 600;
  box-sizing: border-box;
  padding-right: 1.25rem;
}
.input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
  padding: 0.600rem 0.625rem;
}
.password-label,
.password-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.password-label {
  border-radius: 5px;
  border: 1px solid #000;
  flex-direction: row;
  align-items: center;
}
.password-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
.check {
  accent-color: #932f2f;
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
}
.remember-me {
  position: relative;
  font-size: 16px;
  font-family: "Nunito Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 4.938rem;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.forgot-password {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito Sans";
  color: #932f2f;
  text-align: left;
  display: inline-block;
  min-width: 6.188rem;
}
.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}
.checkbox-parent,
.frame-div,
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
}
.frame-div,
.frame-parent1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.frame-div {
  gap: 1.5rem;
}
.login {
  position: relative;
  font-size: 1.125rem;
  font-weight: 800;
  font-family: "Nunito Sans";
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0.813rem 1.25rem 0.75rem;
  background-color: #932f2f;
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-wrapper:hover {
  background-color: #ba5454;
}
.frame-group {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.account-label-parent,
.frame-group,
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frame-parent {
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  z-index: 1;
  font-size: 0.875rem;
  color: #000;
}
.account-label-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.frame-wrapper,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 26.25rem;
  flex-direction: column;
  align-items: flex-start;
  min-width: 26.25rem;
  
  min-height: 34.438rem;

}

.rectangle-parent {
  height: 500px;
  position: absolute;
    top: 6.625rem;
    left: calc(50% - 300px);
    border-radius: 15px;
    background-color: #f3f3f3;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.29);
    width: 37rem;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 0 5.188rem;
    box-sizing: border-box;
    gap: 9rem;
    z-index: 1;
    text-align: left;
    font-size: 2.25rem;
    color: #525252;
    font-family: "Nunito Sans";
}
.macbook-pro-14-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  letter-spacing: normal;
}
/* @media screen and (max-width: 900px) {
  .login-to-your {
    font-size: 1.813rem;
  }
  .frame-wrapper {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
    padding: 1.25rem;
    box-sizing: border-box;
  }
  .macbook-pro-14-1 {
    height: auto;
    min-height: 982;
  }
}
@media screen and (max-width: 700px) {
  .frame-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .login-to-your {
    font-size: 1.375rem;
  }
  .checkbox-parent {
    flex-wrap: wrap;
  }
} */

.tiet-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 31px 0;
}

.tiet-logo img {
  /* position: absolute; */
  width: 175px;
  border-radius: 8px;
  padding-top: 28px;
  /* margin-top: 50%; */
}