.side-left-menu {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  width: 290px;
  min-height: 100vh;
  height: fit-content;
}
.tietlogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tietlogo img {
 position: absolute;
  width: 154px; 
  border-radius: 5px; 
  margin-top: 50%;
}

.icons{
  margin-top: 50%;
  min-height: fit-content;
  width: 252px;
}

.menu-button {
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px;
  margin: 20px;
  display: flex;
  align-items: center;
  width: 92%;
  padding: 12px; 
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: gray;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
}

.menu-button:hover {
  background-color: #deacac; /* Background color on hover */
  color: rgb(179, 27, 27);
}

.menu-button.active {

  background-color:rgb(179, 27, 27); /* Background color of active button */
  color: white; /* Text color of active button */
}

.icon {
  margin-right: 10px; /* Adjust margin as needed */
}

.text {
  font-size: 16px; /* Adjust font size as needed */
}


