.form-card {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 18px;
    margin: 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 14px;
    width: 172px;
  }
  
  .form-card:hover {
    /* background-color: #f0f0f0; */
    background-color:  rgb(179, 27, 27);
  color: white;
  }
  
  .form-card-icon {
    width: 35x;
    height: 35px;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .form-card-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  

  .back-button {
    position: fixed;        /* Keeps the button fixed relative to the viewport */
    bottom: 20px;           /* Positions the button 20px from the bottom */
    right: 20px;            /* Positions the button 20px from the right */
    display: flex;          /* Enables flexbox layout */
    justify-content: center;/* Centers the content horizontally within the button */
    align-items: center;    /* Centers the content vertically within the button */
    /* Optional styling for better appearance */
    padding: 10px 20px;
    
    color: white;               /* Example text color */
    border: none;               /* Removes default border */
    border-radius: 5px;         /* Adds slight rounding to the corners */
    cursor: pointer;            /* Changes cursor to pointer on hover */
  
  }
  