.form-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.form-card-list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #4a4a4a;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6); /* Subtle shadow effect */
}

.form-card-list:hover {
    cursor: pointer;
    color: black;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8); /* Slightly stronger shadow on hover */
}

.action-label-list {
    background-color: rgb(236, 144, 15); /* Green */
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    animation: breathe 1.5s infinite;
}

.form-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.form-card-list p{
    font-weight: 400;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}


