.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.timeline-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc; /* Default color */
    margin-right: 10px;
    z-index: 1;
}

.timeline-item.green .timeline-dot {
    background-color: #4CAF50; /* Green color for completed */
}

.timeline-item.yellow .timeline-dot {
    background-color: #FFC107; /* Yellow color for current */
    animation: breathe 2s infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.timeline-step {
    font-size: 16px;
    color: #333;
}



.timeline-item-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.timeline-line {
    width: 2.5px;
    height: 25px;
    background-color: #ccc; /* Default color */
    position: absolute;
    left: 6.5px; /* Align the line with the center of the dots */
    top: 30px; /* Adjust this to center the line */
    z-index: 0; /* Make sure the line is behind the dots */
}
