.extensionBody-div{
    position: relative; /* Changed from absolute to relative */
    min-height: 3000px; /* Ensure the content area is tall enough */
    width: calc(100% - 290px); /* Adjust width to account for the sidebar */
    margin-top: 109px; /* Ensure the content starts below the navbar */
    margin-left: 290px;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
}


.extensionform-div{
    height:4000px;
    /* width:1710px; */
    color:black;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
    margin: 20px;
/* align-items: center; */
justify-items: center;

    
}

.student-form,.hodSide-form,.DrASide-form,.DocComSide-form, .supervisorSide-form, .DoRDCSide-form{
    margin-left: 20px;
}


.data-input label,
.date-input label{
    font-size: 26px;
    font-weight: bold;
}

.data-input input{
    margin-left: 8px;
    border: none;
 border-bottom: 1px solid black;
background: transparent;
outline: none;

}
.data-input a {
    text-decoration: underline; /* Underline link */
    color: rgb(14, 14, 59); /* Link color */
  }
  
.form{
    display: flex;
    flex-direction: column;
    margin: 60px;
    font-size: 15px;
    align-items: left;
    width: 90%;
    height: 100%;
}

.send{
    width: 200px; /* Adjust width as needed */
    height: 48px; /* Adjust height as needed */
    border-radius: 18px; /* Adjust border radius for rounded edges */
    background-color:rgb(179, 27, 27); /* Red color for the button */
    color: white; /* Text color */
    border: none; /* Remove default button border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; 
    margin-right: 193px;
}

.data-input,
.date-input,
.gender-input{
    padding: 20px;
  
}

.supervisor-button-div{
    display: flex;
    /* justify-content: flex-end; */
}

#appr{
    display: flex;
  flex-direction: row;
  align-items: center;
}

.data-input input,
.date-input input,
.gender-input input,
#departmentInput{
  margin-left: 21px;
  
}
.data-input .small-label {
    font-size: 20px; 
    font-weight: 500;
    margin-right: 20px;/* Adjust the font size as needed */
  }
  
.heading{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    display: flex;
    flex-direction: row;
}

.bold-label{
    font-weight: bold;
}