/* Loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: fixed; /* Fixed position */
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent background */
}
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid var(--primary-color); /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Animation for spinning */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  