
  .StudentList{
    position: relative; /* Changed from absolute to relative */
    min-height: 3000px; /* Ensure the content area is tall enough */
    width: calc(100% - 290px); /* Adjust width to account for the sidebar */
    margin-top: 109px; /* Ensure the content starts below the navbar */
    margin-left: 290px;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
}

  .search-bar input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .controls button {
    margin: 0 5px 20px 5px;
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    border-bottom: 2px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  

  tbody td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    
  }
  tr :hover {
    background-color: #b9b8b8;
    cursor: pointer;
  }
  
  .approved {
    color: green;
  }
  
  .tobeapproved {
    color: orange;
  }
  
  .notapproved {
    color: red;
  }
  
  