/* Main layout styles */
.layout {
    display: flex; /* Aligns sidebar and main content side by side */
    height: 100vh; /* Full viewport height */
}


.sidebar {
    width: 225px; 
    background-color: #2c3e50; /* Dark background for sidebar */
    color: white; /* White text */
}



/* Main content styles */
.main-content {
    flex-grow: 1; /* Fills the remaining space */
    background-color: white; /* White background for main content */
}

/* Top bar styles */
.topbar {
    color: white; /* White text in top bar */
}

/* Content area */
.content {
    /* padding: 10px 20px;  */
    width: 100%; /* Full width */
    min-height: fit-content;
    padding: 15px 10px;
}
