.App {
  text-align: center;
}

/* globals.css */
:root {
  --primary-color: #B22626; /* Example primary color */
  --hover-color: #790c0c;
  --secondary-color: #deacac; /* Example secondary color */
  --background-color: #EBEBEB; /* Background color */
  --text-color: #333; /* Text color */
}

/* Optional: General body styling */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semi-bold */
  background-color: var(--background-color);
  color: var(--text-color);
}
