

/* Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 38px;
    right: 10px;
    /* width: 100%;
    height: 100%; */
    overflow: auto;
    
    /* background-color: rgba(76, 67, 67, 0.4); */
}
    

.modal-content {
    border: 0.2px solid black;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
}

/* .modal-body h2 {
    margin-top: 0;
}

.latest-update {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.latest-update p.highlight {
    background-color: yellow;
    padding: 5px;
    border-radius: 3px;
}

.status-updates ul {
    list-style: none;
    padding: 0;
}

.status-updates li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.status-dot {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
}

.status-dot.created {
    background-color: #00008B;
}

.status-dot.recommended {
    background-color: #32CD32;
}

.time {
    display: block;
    color: #666;
    font-size: 12px;
    margin-top: 2px;
} */


.timeline-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* .timeline-item:last-child {
    margin-bottom: 0;
} */

.timeline-marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 15px;
}

.timeline-marker.red {
    background-color: red;
}

.timeline-marker.green {
    background-color: #22c55e;
}

.timeline-content {
    flex: 1;
}

.timeline-content p {
    margin-right: 67px;
    /* margin: 0; */
    font-size: 14px;
    color: #333;
}

.timeline-time {
    font-size: 12px;
    color: #9ca3af;
    margin-left: auto;
    text-align: right;
}

/* .timeline-line {
    width: 2px;
    height: 100%;
    background-color: #9ca3af;
    position: absolute;
    left: 25px;
    top: 20px;
} */

/* .timeline-item:first-child .timeline-line {
    top: 50%;
}

.timeline-item:last-child .timeline-line {
    height: 50%;
}

.timeline-item:first-child .timeline-line,
.timeline-item:last-child .timeline-line {
    display: block;
} */











