.form-list-container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Form Action Buttons (Top Section) */
.form-actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 16px;
}

.form-actions-left,
.form-actions-right {
  display: flex;
  align-items: left;
  gap: 20px;
}

.form-actions-left button {
  margin-right: 20px;
}

.form-actions-left button,
.form-actions-right button {
  padding: 6px 14px;
  background-color:#494a4b;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-actions-left button:hover,
.form-actions-right button:hover {
  background-color: #494a4b;
}

/* Table Styling */
.form-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.form-row {
  cursor: pointer;
}

.form-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.form-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.form-table tr:hover {
  background-color: #f0f0f0;
}

.selected-row {
  background-color: #d7ecff;
}

/* Bottom: Pagination + Rows per page */
.table-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.rows-per-page {
  display: flex;
  align-items: center;
  gap: 8px;
}
