.supervisor-table {
    margin: 20px;
    /* margin-left: 40px; */
  }
  
  .supervisor-table table {
    width: 96%;
    border-collapse: collapse;
    margin-left: 20px;
  }
  .headingg{
    margin-left: 20px;
  }
  
  .supervisor-table th, .supervisor-table td {
    border: 1px solid #ddd;
    /* padding: 8px; */
  }
  
  .supervisor-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  